@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "EU Cookies";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h2>@Page.Title</h2>
            <h3>EU Cookies directive.</h3>
        </hgroup>
    </div>
</section>
}

<!--
<hgroup class="title">
  <h1>@Page.Title.</h1>
  <h2>heading-info</h2>
</hgroup>
-->
<!--These comes from full width template page-->
<div class="wrapper row3">
  <div id="container" class="clear">
    <!-- content body -->

<div>
<p>Here comes some legal specific content about cookies in EU</p>
</div>
Confidentialitate

1. Date de contact
2. Generalitati.
3. Ce informatii colectam de la dvs.
4. Cand si cum este folosita informatia.
5. Cum protejam noi informatia.
6. Cine are acces la informatia colectata de la dvs.
7. Cum se pot corecta erorile
8. Partajarea informatiilor catre terti.

1. Date de contact 

Acest website este administrat de Inteligo Media SA, companie romaneasca, care poate fi contactata la adresa:
	Bucuresti, Calea Vacaresti, Nr. 252-254, Et. 4, Camerele 4-5, Sector 4.

2. Generalitati.
 Documentul pe care tocmai il parcurgeti in acest moment este, de fapt, unul dintre modurile in care noi dorim sa va aratam ca increderea pe care ne-o acordati nu este unilaterala, si ca si noi, la randul nostru, luam toate masurile necesare pentru ca vizita dvs. in siteul nostru sa fie cat mai placuta si fara consecinte pe care nu le anticipati.
	Pentru orice intrebare sau nedumerire in privinta termenilor utilizati mai jos sau asupra oricaror alte probleme legate de modul in care noi intelegem sa pastram confidentialitatea datelor dvs., va rugam sa ne contactati la urmatoarea adresa de email : webmaster@AVOCATNET.RO

3. Ce fel de informatii colectam de la dvs ?
	AVOCATNET.RO colecteaza informatie de la utilizatorii sai in urmatoarele modalitati : direct de la utilizator, din rapoartele traficului inregistrat de serverele care gazduieste siteurile AVOCATNET.RO, precum si prin intermediul cookieurilor.

Informatie furnizata direct de utilizator:
	Atunci cand va abonati la un serviciu furnizat de AVOCATNET.RO, va putem intreba care este numele dvs., care este adresa dvs. de e-mail si va putem cere alte informatii personale. Cu cat veti furniza mai multa informatie in mod voluntar, cu atat mai bine va putem personaliza informatiile oferite la viitoarea dvs. vizita.

Informatie din raportul de trafic al serverului:
	Atunci cand vizitati un site web, dezvaluiti anumite informatii despre dvs., ca adresa dvs. IP, ora vizitei dvs., locul de unde ati intrat in siteurile noastre. AVOCATNET.RO, ca si alti operatori, inregistreaza aceasta informatie.

Cookieuri:
	In ideea de a oferi un serviciu personalizat utilizatorilor nostri, AVOCATNET.RO poate folosi cookieuri pentru a facilita stocarea si urmarirea preferintelor dvs. Spre exemplu, putem folosi cookieuri pentru a va putea identifica si pentru a va putea furniza informatii si servicii bazate pe preferintele pe care vi le-ati exprimat in vizitele dvs. anterioare. De asemenea, retele terte de publicitate online pot folosi cookieuri pentru a putea adapta mesajele publicitare in functie de preferintele dvs.. Cookieurile sunt fisiere de tip ?.txt?, oferite browserului dvs. de un server web si stocate apoi pe hard-discul computerului dvs.. Folosirea cookieurilor este un standard actual la multe dintre siteurile importante pe care le vizitati.. Majoritatea browserelor sunt setate sa accepte cookieuri. Daca insa preferati acest lucru, puteti reseta browserul dvs. fie sa va anunte ori de cate ori primiti cate un cookie fie sa refuze chiar acceptarea cookieurilor. Trebuie insa sa aflati ca unele sectiuni ale siteului nostru nu vor putea fi vizualizate normal daca ati setat browserul dvs. sa respinga cookieurile.
	Trebuie de asemenea sa retineti ca ori de cate ori dezvaluiti in mod voluntar informatii personale in mediul de comunicare online, ca forumurile online, programul de e-mail, programul de FTP, grupurile de discutii, serviciile de chat, informatia dezvaluita de dvs. poate fi usor colectata si folosita de persoane neautorizate. Desi AVOCATNET.RO face tot posibilul sa protejeze informatia dvs. personala, AVOCATNET.RO nu va poate asigura sau garanta securitatea oricarui tip de informatie pe care ni-l transmiteti, astfel incat transmiterea informatiei intr-un mediu inadecvat se face pe propriul dvs. risc. Trebuie sa intelegeti de asemenea ca sunteti unicul responsabil pentru mentinerea secretului informatiilor (parole, nume de utilizator, etc), legate de conturile pe care le-ati dobandit ca urmare a folosirii serviciilor oferite de noi.

4. Cum si cand este folosita informatia
 AVOCATNET.RO foloseste informatia colectata de la dvs. in mai multe feluri, in functie de tipul de informatie colectat:
	- Informatie furnizata direct de utilizator: aceasta informatie este folosita doar in scopul personalizarii serviciilor oferite dvs. si a verificarii identitatii dvs. in vederea executarii eventualelor contracte intre dvs. si sociatatea noastra in urma folosirii de catre dvs. a serviciilor de achizitie online dezvoltate de noi.
	- Informatia colectata din raportul de trafic al serverului AVOCATNET.RO: acest tip de informatie ne ajuta sa identificam care sectiuni ale siteurilor noastre sunt sectiuni de interes pentru utilizatori. AVOCATNET.RO colecteaza de asemenea adresele IP ale utilizatorilor sai in scopul administrarii sigure a sistemului nostru informatic, in scopul evitarii activitatilor infractionale si, nu in ultimul rand, in scopul comunicarii sabloanelor tipizate anonime ale utilizatorilor catre clientii nostri de publicitate.;
	- Informatia colectata prin intermediul cookieurilor: AVOCATNET.RO foloseste cookieuri pentru a va permite folosirea cat mai utila a serviciilor noastre si in scopul obtinerii de informatii statistice care sa ne permita imbunatatirea serviciilor noastre. Cookieurile (asa cum au fost ele definite mai sus) ne permit sa salvam parolele dvs. de acces si preferintele dvs. astfel incat sa nu fiti nevoit sa le introduceti din nou data viitoare cand ne veti vizita.;

5. Cum protejam noi informatia colectata de la dvs.
	Confidentialitatea si protectia informatiilor colecatate de la dvs. sunt de o importanta vitala pentru noi. AVOCATNET.RO nu ofera informatia colectata unor terti fara consimtmantul dvs. expres si prealabil. Orice statistica privind traficul utilizatorilor nostri, pe care o vom oferi catre terte retele de publicitate sau catre siteuri partenere, este furnizata doar ca ansamblu de date si nu include nici o informatie identificabila personal despre nici un utilizator individual.
 Accesul dvs. la anumite servicii si informatii din cadrul siteului este protejat de o parola. Va recomandam sa nu dezvaluiti nimanui aceasta parola. AVOCATNET.RO nu va va cere niciodata parola conturilor dvs in mesaje sau telefoane nesolicitate. Va sfatuim deci sa nu dezvaluiti aceasta parola peroanelor care va cer acest lucru. Mai mult, daca este posibil, trebuie sa va amintiti sa semnati ?log off? / ?sign out? din contul dvs. in Forumul, Chatul sau alte servicii online oferite de AVOCATNET.RO, la sfarsitul fiecarei sesiune de utilizare a acestora. Va sfatuim de asemenea sa inchideti fereastra browserului in care ati lucrat la sfarsitul navigarii dvs. in siteurile sau serviciile furnizate de AVOCATNET.RO
	Aceste sfaturi sunt destinate sa inlature accesul persoanelor neautorizate la informatiile dvs. personale sau la corespondenta dvs. atunci cand lucrati intr-o retea de computere aflata intr-un loc public. (in cafenelele internet, spre exemplu).
	Din pacate, nici o transmisie de date prin intemediul internetului nu poate fi garantata a fi 100% sigura. In consecinta, in ciuda eforturilor noastre de a va proteja informatia personala, AVOCATNET.RO nu poate asigura sau garanta securitatea informatiilor transmise de dvs. catre noi, catre si de la serviciile noastre online sau produsele noastre. Va avertizam asadar ca orice informatie trimisa catre noi se va face pe propriu dvs. risc.
	In momentul in care noi primim informatiile transmise de dvs. insa, va garantam ca vom depune toate eforturile pentru a asigura securitatea acestora in sistemele noastre, conform standardelor de securitate impuse de legislatia romana in vigoare.

6. Cine are acces la informatia colectata de la dvs.
	Prin exceptie de la cazurile expuse mai sus, AVOCATNET.RO nu va dezvalui nici un fel de informatie identificabila personal despre utilizatorii sai catre terte parti fara a primi mai intai consimtamantul expres al utilizatorilor in aceasta privinta.
	In acelasi timp insa, AVOCATNET.RO poate dezvalui informatii identificabile personal atunci cand legea prevede expres acest lucru sau cand acest lucru este necesar pentru protejarea drepturilor si intereselor AVOCATNET.RO
	In concluzie, atunci cand accesati siteurile AVOCATNET.RO si sunteti rugat sa ne dezvaluiti informatii despre dvs., veti dezvalui aceste informatii doar siteurilor AVOCATNET.RO, cu exceptia cazului cand serviciul sau informatia respectiva este oferita in parteneriat cu un alt site sau serviciu.
	De fiecare data insa cand un astfel de serviciu este furnizat in parteneriat cu un alt site, veti fi informat asupra acestui lucru. In ideea de a va furniza servicii la standarde cat mai inalte, este necesara partajarea informatiilor dvs. personale cu siteul sau serviciul copartener. Daca nu doriti ca aceste date ale dvs. sa fie partajate, puteti proceda in consecinta prin a nu permite transferul datelor prin neutilizarea acelui serviciu specific.
	Daca alegeti insa sa acceptati partajarea datelor, trebuie sa intelegeti ca funizorii serviciului in parteneriat pot avea practici separate de confidentialitate si de colectare a datelor. AVOCATNET.RO nu are nici un fel de control si nu poate garanta asupra tuturor aspectelor juridice pe care le implica folosirea acestor practici independente de confidentialitate.

7. Cum putem corecta erorile din datele colectate de la dvs.
	Daca va creati un cont la unul dintre serviciile noastre, va putem trimite un e-mail de confirmare prin care sa va oferim detaliile noului dvs. cont. Mesajul de confirmare va fi trimis la adresa de e-mail pe care ne-ati furnizat-o si va descrie modalitatile prin care dvs. puteti modifica sau sterge datele contului pe care tocmai l-ati creat. Va sfatuim sa pastrati acest e-mail de confirmare, mai ales ca acest contine si informatii care va pot fi utile atunci cand apar probleme in accesarea serviciilor noastre.

8. Partajarea informatiilor catre terti
	Siteurile AVOCATNET.RO, pot folosi serviciile unor companii de advertising pentru stabilirea tintelor publicitare si sustinerea de campanii publicitare si alte mesaje specifice activitatii de marketing. Pentru aceasta, aceste companii pot colecta date anonime prin intermediul cookieurilor. In masura in care acest lucru se va intampla, AVOCATNET.RO va include in acordul sau de confidentialitate linkuri catre acordurile de confidentialitate ale retelelor de advertising partenere.

	Va multumim,
	Echipa Avocatnet.ro


Citeste mai mult: http://www.avocatnet.ro/content/page/page_conf/Confidentialitate.html#ixzz2e0ohERtW 
Follow us: Avocatnetro on Facebook
    <!-- / content body -->
  </div>
</div>